vim
neovim
neovim-qt
emacs
zsh
fish
peco
git
python3-pip
fcitx-mozc
texlive-lang-japanese
texlive-lang-cjk
texlive-fonts-recommended
texlive-science
latexmk
i3
i3status
volumeicon-alsa
rxvt-unicode
rxvt-unicode-256color
compton
dunst
feh
build-essential
evince
apvlv
nodejs
graphviz
chromium-browser
lua5.3
