vim
neovim
neovim-qt
fish
fonts-powerline
fonts-font-awesome
unifont
peco
git
python3-pip
python3-venv
python3-dev
fcitx-mozc
texlive-lang-japanese
texlive-lang-cjk
texlive-fonts-recommended
texlive-science
latexmk
i3
volumeicon-alsa
mpd
ncmpcpp
rxvt-unicode
rxvt-unicode-256color
compton
dunst
parcellite
feh
build-essential
evince
apvlv
nodejs
chromium-browser
rofi
xss-lock
xautolock
light-locker
zathura
